@media screen and (max-width: 768px) 
{
    .navbar .nav-logo{
        width: 147px;
    }
    .header-service h2{
        max-width: 100%;       
      }
      .ai-tools h2 ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .card-box {
        width: 100%;
      }
}